*{box-sizing:border-box;}
body{margin: 0;overflow: hidden;}
html {scroll-behavior: smooth;overflow-x: hidden;}
a,#up{-webkit-transition: all 0.4s linear 0s; -moz-transition: all 0.4s linear 0s; transition: all 0.4s linear 0s !important;}

.stickytop{
  background-color: #101010;
  width: 100%;
  height: 30px;
  padding: 10px;
}

.logo{
  float: right;
  padding-right: 20px;
}

.introsection{
  background-color: #101010;
  height:100vh;
  width: 100%;
  display:table;
  align-items:center;
  overflow:hidden;
}

.introcontainer{
  max-width: 100%;
  margin: auto;
  text-align: center;
  overflow:hidden;
}

.headercontent{
  z-index: 2;
  display:table-cell;
  vertical-align:middle;
}

.introstyle{
  font-family: tahoma;
  font-weight: bold;
  color: #8f8079;
}

.title{
  font-family: tahoma;
  color: #cb5a3c;
}

h4.introstyle{
  font-weight: lighter;
  padding-bottom: : 0px;
  padding-top: 10px;
}

.link{
  color: #8f8079;
}

/* Arrow down */
#scroll-d {
  bottom: 1%;
  left: 50%;
  color: #F0FFFF;
  font-size: 3em;
  font-weight: 30;
}

@keyframes bounce{
  to{
    transform: rotate(45deg) translateY(1rem) translateX(1rem);
    opacity: 0;
  }
}
@keyframes bounce{
  to{
    transform: translateX(1rem);
    opacity: 0;
  }
}
.scroll {
  padding-top: 10%;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  margin: -30px;
}
