*{box-sizing:border-box;}
body{margin: 0;overflow: hidden;}
html {scroll-behavior: smooth;overflow-x: hidden;}
a,#up{-webkit-transition: all 0.4s linear 0s; -moz-transition: all 0.4s linear 0s; transition: all 0.4s linear 0s !important;}

/* unvisited link */
a:link {
 color: #cb5a3c;
}

/* visited link */
a:visited {
 color: #cb5a3c;
}

/* mouse over link */
a:hover {
 color: #cb5a3c;
}

/* selected link */
a:active {
 color: #cb5a3c;
}

.header{
  background-color: #101010;
  height:2vh;
  width: 100%;
  display:table;
  overflow:hidden;
}

.logo{
  position:relative;
  float: left;
  height: 50px;
  top: 5px;
  left: 5px;
}

.social-facebook{
  position: relative;;
  float: right;
  height: 19px;
  top: -5px;
  right: 25px;
}
.social-twitter{
  position: relative;;
  float: right;
  height: 20px;
  top: -5px;
  right: 45px;
}
figure:hover img{
  transform: scale(2.1)
}

.introsection{
  background-color: #101010;
  height:100vh;
  width: 100%;
  display:table;
  align-items:center;
  overflow:hidden;
}

.introcontainer{
  max-width: 100%;
  margin: auto;
  text-align: center;
  overflow:hidden;
}

.headercontent{
  z-index: 2;
  display:table-cell;
  vertical-align:middle;
}

.introstyle{
  font-family: tahoma;
  font-weight: bold;
  line-height: -50%;
  color: #A68F85;
}

.title{
  font-family: tahoma;
  line-height: -50%;
  color: #cb5a3c;
}

.link{
  line-height: 200%;
  color: #4C90A0;
}

/* Arrow down */
.contain {
  padding-top: 3%;
  display: inline-block;
  vertical-align: middle;
}

.scroll-down-arrow {
  -webkit-animation: bounce 1000ms ease  infinite;
	-moz-animation: bounce 1000ms ease infinite;
	-o-animation: bounce 1000ms ease infinite;
	animation: bounce 1000ms ease infinite;
  -webkit-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -moz-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -ms-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 14px solid #f2f2f2;
  content: "";
  position: relative;
}

.button.scroll:before {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 3px white, inset 0px 0px 3px white;
  padding: 2px;
  z-index: -1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  content: "";
  -webkit-animation: ring 1s alternate 0s infinite;
	-moz-animation: ring 1s alternate 0s infinite;
	-o-animation: ring 1s linear 0s infinite;
	animation: ring 1s linear 0s infinite;
}

@-webkit-keyframes bounce {
  0%, 100% {top: 9px; opacity: 0.5}
  25% {top: 12px; opacity: 1}
  50% {opacity: 0.8}
}
@keyframes bounce {
  0%, 100% {top: 9px; opacity: 0.5}
  25% {top: 12px; opacity: 1}
  50% {opacity: 0.8}
}
@-webkit-keyframes ring {
  0%, 100% {-webkit-transform: scale(1,1); opacity:1}
  75% {-webkit-transform: scale(1.2,1.2); opacity:0.4}
}
@keyframes ring {
  0%, 100% {transform: scale(1,1); opacity:1}
  75% {transform: scale(1.2,1.2); opacity:0.4}
}
